@media only screen and (max-width: 900px) {
    .nav-list li  a{
        padding: 2px 3px;
    }

}

@media only screen and (max-width: 850px) {
    .nav-list{
        display: none;
    }
    #open-icon{
        display: block;
    }
}

/* end navbar */


@media only screen and (max-width: 600px) {
    #typing-text {
        font-size: 60px;
        font-family: var(--navFonts);
    }
}

@media only screen and (max-width: 400px) {
    #typing-text {
        font-size: 50px;
        font-family: var(--navFonts);
    }
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    
}