@media only screen and (max-width: 900px) {
    .nav-list li  a{
        padding: 2px 3px;
    }

}

@media only screen and (max-width: 850px) {
    .nav-list{
        display: none;
    }
    #open-icon{
        display: block;
    }
}

/* end navbar */


@media only screen and (max-width: 600px) {
    #typing-text {
        font-size: 60px;
        font-family: var(--navFonts);
    }

   
}

@media only screen and (max-width: 400px) {
    #typing-text {
        font-size: 50px;
        font-family: var(--navFonts);
    }
}
@media only screen and (max-width: 1000px) {
    .data-form-box {
        width: 100%;
        height: 450px;
        /* border: 1px
    px
     solid red; */
        border-radius: 30px;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        box-shadow: 2px 5px 100px #C850C0;
    }
    .clo-1, .clo-2 {
        width: 40%;
        /* border: 1px solid red; */
        margin: auto;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 1px;
    }


}
@media only screen and (max-width: 550px) {
    .clo-1, .clo-2 {
        width: 85%;
        /* border: 1px solid red; */
        margin: auto;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 1px;
    }
    .data-form-box {
        width: 81%;
        height: 836px;
        border-radius: 30px;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        box-shadow: 2px 5px 100px #C850C0;
    }

    .row-form input {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 2px;
        height: 40px;
        padding-left: 30px;
        background-color: #34495e;
        color: white;
    }


}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    
}