@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Serif+Lao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Noto+Serif+Lao&display=swap');



:root{
--background01 : #181E25;
--navFonts : 'Fredoka One', serif;
--navItemFont : 'Exo 2', sans-serif;


}
::-webkit-scrollbar{
    width: 9px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(lightblue,red);
    border-radius: 40px;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}













.section-01{
    width: 100%;
    height: 100vh;
    background-color: var(--background01);
}
.main-navbar{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
}
.nav-logo-site{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-logo-site img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.nav-logo-title{
    color: lightblue;
    font-family: var(--navFonts);
    font-size: 35px;
}
.nav-list{
    list-style: none;
    color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.nav-list li {
    padding: 2px 4px;
}
.nav-list li  a{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--navItemFont);
    padding: 3px 8px;
    transition: all 130ms ease-in-out;
    
}
.nav-list li  a:hover{
    color: white;
    border-bottom: 2px solid lightblue;
}
#open-icon{
    color: lightblue;
    font-size: 55px;
    padding-right: 20px;
    display: none;
    cursor: pointer;
}
#close-icon{
    color: lightblue;
    font-size: 55px;
    padding-right: 20px;
    display: none;
    cursor: pointer;
}
.smallNav{
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    display: none;
   
}
.smallNav .item-link a{
    color: lightblue;
    font-size: 23px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 2px;
}
.item-link1{
    padding-bottom: 50px;
    
}

/* navbar ends */
/* navbar ends */
/* navbar ends */
.body-text{
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightblue;
   
}
#typing-text{
    font-size: 60px;
}