@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Serif+Lao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Noto+Serif+Lao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo+2:wght@300&family=Noto+Serif+Lao&display=swap');



:root{
--background01 : #181E25;
--navFonts : 'Fredoka One', serif;
--navItemFont : 'Exo 2', sans-serif;
--fonts01 :'Alegreya Sans', sans-serif;


}
::-webkit-scrollbar{
    width: 6px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(transparent, #34495e,#2ecc71,red);
    border-radius: 40px;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}













.section-01{
    width: 100%;
    height: 100vh;
    background-color: var(--background01);
}
.main-navbar{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
}
.nav-logo-site{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-logo-site img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.nav-logo-title{
    color: lightblue;
    font-family: var(--navFonts);
    font-size: 35px;
}
.nav-list{
    list-style: none;
    color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.nav-list li {
    padding: 2px 4px;
}
.nav-list li  a{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--navItemFont);
    padding: 3px 8px;
    transition: all 130ms ease-in-out;
    
}
.nav-list li  a:hover{
    color: white;
    border-bottom: 2px solid lightblue;
}
#open-icon{
    color: lightblue;
    font-size: 55px;
    padding-right: 20px;
    display: none;
    cursor: pointer;
}
#close-icon{
    color: lightblue;
    font-size: 55px;
    padding-right: 20px;
    display: none;
    cursor: pointer;
}
.smallNav{
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    display: none;
   
}
.smallNav .item-link a{
    color: lightblue;
    font-size: 23px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 2px;
}
.item-link1{
    padding-bottom: 50px;
    
}

/* navbar ends */
/* navbar ends */
/* navbar ends */
.body-text{
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#2ecc71;
    text-shadow: 2px 2px 200px #1abc9c;
   
}
#typing-text{
    font-size: 100px;
    font-family: var(--navFonts);
}
.body-text h1{
    text-align: center;
}

/* section -02 er css shuru akhan theke */
.section-02{
    width: 100%;
    height: 100%;
    background-color: #181E25;
    position: relative;

    
}
.payment-title{
    text-align: center;
    text-transform: capitalize;
    font-family: var(--navFonts);
    font-size: 50px;
    color: white;
    text-shadow: 1px 2px 10px #2ecc71 ;
}
/* .box-form::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FFE53B;
    background-image: linear-gradient(114deg, #FFE53B 0%, #FF2525 74%);
    clip-path: circle(10% at 0% 20%);

}
.box-form::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

    clip-path: circle(10% at 10% 20%);

} */
/* .form-box{
    width: 80%;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 50px;
    backdrop-filter: blur(20px);
    color: lightblue;
    padding: 0px 30px;
    font-size: 20px;
}
.form-title{
    text-align: center;
    font-size: 30px;
    color: #2ecc71;
    font-family: var(--fonts01);
    padding: 5px 0px;
    text-transform: capitalize;
    margin-bottom: 30px;
    
}
input{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    color: lightblue;
    background-color: rgba(255, 255, 255, 0.1);
}
select{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    color: lightblue;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn1, .btn2 {
    color: white;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    text-align: center;
    border-radius: 30px;

}
.btn1 a, .btn2 a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
    font-family: var(--fonts01);
    letter-spacing: 2px;
} 
.btn1:hover, .btn2:hover{
    background: #2ecc71;
    box-shadow: 2px 4px 70px #2ecc71,
    -2px 4px 70px #2ecc71,
    2px -4px 70px #2ecc71,
    -2px -4px 70px #2ecc71;
} */

.box-form{
    width: 100%;
    height: 100vh;
    background: #181E25;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-form-box{
    width: 90%;
    height: 450px;
    /* border: 1px solid red; */
    border-radius: 30px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: 2px 5px 100px #C850C0;
    
}

.form-title{
    color: white;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--navFonts);
    padding: 20px;
}
.clo-1 , .clo-2{
    width: 49%;
    /* border: 1px solid red; */
    margin: 4px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.row-form input{
 width: 100%;
 border: none;
 outline: none;
 border-radius: 2px;
 height: 30px;
 padding-left: 30px;
 background-color: #34495e;
 color: white;
}
.row-form select{
    width: 100%;
    height: 30px;
    background-color: #34495e;
    color: white;
}
