@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Serif+Lao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Noto+Serif+Lao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo+2:wght@300&family=Noto+Serif+Lao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo+2:wght@300&family=Poppins:wght@300&display=swap');



:root{
--background01 : #181E25;
--navFonts : 'Fredoka One', serif;
--navItemFont : 'Exo 2', sans-serif;
--fonts01 :'Alegreya Sans', sans-serif;
--popins : 'Poppins', sans-serif;



}
::-webkit-scrollbar{
    width: 6px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(transparent,gold,pink, yellow,#2ecc71,red);
    border-radius: 40px;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}













.section-01{
    width: 100%;
    height: 100vh;
    /* background-color: var(--background01); */
    background-image: url(./assets/images/bg22.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-navbar{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
}
.nav-logo-site{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-logo-site img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.nav-logo-title{
    color: lightblue;
    font-family: var(--navFonts);
    font-size: 35px;
}
.nav-list{
    list-style: none;
    color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.nav-list li {
    padding: 2px 4px;
}
.nav-list li  a{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--navItemFont);
    padding: 3px 8px;
    transition: all 130ms ease-in-out;
    
}
.nav-list li  a:hover{
    color: white;
    border-bottom: 2px solid lightblue;
}
#open-icon{
    color: lightblue;
    font-size: 55px;
    padding-right: 20px;
    display: none;
    cursor: pointer;
}
#close-icon{
    color: lightblue;
    font-size: 55px;
    padding-right: 20px;
    display: none;
    cursor: pointer;
}
.smallNav{
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    display: none;
   
}
.smallNav .item-link a{
    color: lightblue;
    font-size: 23px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 2px;
}
.item-link1{
    padding-bottom: 50px;
    
}

/* navbar ends */
/* navbar ends */
/* navbar ends */
.body-text{
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#2ecc71;
    text-shadow: 2px 2px 200px #1abc9c;
   
}
#typing-text{
    font-size: 100px;
    font-family: var(--navFonts);
}
.body-text h1{
    text-align: center;
}

/* section -02 er css shuru akhan theke */
.section-02{
    width: 100%;
    height: 100%;
    background-color: #181E25;
   

    
}
.payment-title{
    padding-top: 50px;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--navFonts);
    font-size: 50px;
    color: white;
    text-shadow: 1px 2px 10px #2ecc71 ;
}
/* .box-form::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FFE53B;
    background-image: linear-gradient(114deg, #FFE53B 0%, #FF2525 74%);
    clip-path: circle(10% at 0% 20%);

}
.box-form::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

    clip-path: circle(10% at 10% 20%);

} */
/* .form-box{
    width: 80%;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 50px;
    backdrop-filter: blur(20px);
    color: lightblue;
    padding: 0px 30px;
    font-size: 20px;
}
.form-title{
    text-align: center;
    font-size: 30px;
    color: #2ecc71;
    font-family: var(--fonts01);
    padding: 5px 0px;
    text-transform: capitalize;
    margin-bottom: 30px;
    
}
input{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    color: lightblue;
    background-color: rgba(255, 255, 255, 0.1);
}
select{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    color: lightblue;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn1, .btn2 {
    color: white;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    text-align: center;
    border-radius: 30px;

}
.btn1 a, .btn2 a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
    font-family: var(--fonts01);
    letter-spacing: 2px;
} 
.btn1:hover, .btn2:hover{
    background: #2ecc71;
    box-shadow: 2px 4px 70px #2ecc71,
    -2px 4px 70px #2ecc71,
    2px -4px 70px #2ecc71,
    -2px -4px 70px #2ecc71;
} */

.box-form{
    width: 100%;
    height: 100vh;
    background: #181E25;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-form-box{
    width: 90%;
    height: 450px;
    /* border: 1px solid red; */
    border-radius: 30px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: 2px 5px 100px #C850C0;
    
}

.form-title{
    color: white;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--navFonts);
    padding: 20px;
}
.clo-1 , .clo-2{
    width: 49%;
    /* border: 1px solid red; */
    margin: 4px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.row-form input{
 width: 100%;
 border: none;
 outline: none;
 border-radius: 2px;
 height: 30px;
 padding-left: 30px;
 background-color: #34495e;
 color: white;
}
.row-form select{
    width: 100%;
    height: 30px;
    background-color: #34495e;
    color: white;
}
.btn{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.btn1, .btn2{
   
    width: 40%;
    margin: 5%;
    height: 50px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: 2px 5px 100px #C850C0;
    border-radius: 30px;
    transition: all 200ms ease-in-out;

}
.btn1:hover, .btn2:hover{
  box-shadow: 14px 10px 60px #1abc9c ,
  -14px 10px 60px #1abc9c,
  12px -11px 60px #1abc9c,
  -12px 11px 60px #1abc9c ;

  background: #16a085;
  


}
.btn a{
    text-decoration: none;
    color: white;
    padding: 10px 10%;
    font-size: 26px;
    /* border: 1px solid red; */
    text-transform: capitalize;
}
.section-02 {
    width: 100%;
    height: 100%;
    background-color: #181E25;
    position: relative;
    padding-bottom: 40px;
}

/* scetion -03 er css code shuru hbe akhan theke */
.section-03{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#050113,#050113,#0A203E);
    position: relative;
}

.event-title{
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: var(--popins);
    text-align: center;
    text-shadow: 2px 2px 12px #C850C0;
    margin-bottom: 100px;
}
.event-title::first-letter{
    font-size: 50px;
    color: #C850C0;
    
}
.line-01{
    display: flex;
}
.dot-main-div{
    position: absolute;
    top: 50px;
    left: 10px;
}
.dot{
    width: 8px ;
    height: 8px;
    border-radius: 50%;
    background: #34495e;
    margin: 2px;
    /* animation-name: forDot;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}
@keyframes forDot{
    0%{
        background-color: #C850C0;
    }
    100%{
        background-color: #2ecc71;
    }
}

.dot1{
    animation-name: forDot;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dot2{
    animation-name: forDot;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dot3{
    animation-name: forDot;
    animation-duration: 2s;
    animation-delay: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dot4{
    animation-name: forDot;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dot5{
    animation-name: forDot;
    animation-duration: 2s;
    animation-delay: 1.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dot6{
    animation-name: forDot;
    animation-duration: 2s;
    animation-delay: 1.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.col-s-3{
    width: 23.6%;
    height: 150px;
    /* border: 1px solid red; */
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 15px #16a085;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    text-shadow: 2px 2px 12px #C850C0;
}

.dot-main-div2{
    position: absolute;
    bottom: 30px ;
    right: 0;
}
.dot-main-div3{
    position: absolute;
   top: 100px;
   left: 1px;
}
.dot-main-div4{
    position: absolute;
    bottom: 3px ;
    right: 0;
}

.section-04{
    width: 100%;
    height: 100vh;
   background-color: white;

}

.sec-3-c-1, .sec-3-c-1{
    width: 49%;
    margin: auto;
}

.sec-3-c-2-r1 .col-md-6{
    width: 46%;
    height: 150px;
    /* border: 1px solid red; */
    margin-top: 30px;
    /* margin-left: 20px; */
    margin: auto;
    border-radius: 15px;
    /* box-shadow: 2px 4px 20px #0A203E,
                -2px 4px 20px #181E25,
                2px -4px 20px #020f22,
                -2px -4px 20px #181E25 ;
    cursor: pointer; */
    margin-top: 30px;
}
.sec-3-c-2-r2 .col-md-6{
    width: 46%;
    height: 150px;
    /* border: 1px solid red; */
    margin-top: 10px;
    /* margin-left: 20px; */
    margin: auto;
    border-radius: 15px;
    /* box-shadow: 2px 4px 20px #0A203E,
                -2px 4px 20px #181E25,
                2px -4px 20px #020f22,
                -2px -4px 20px #181E25 ;
    cursor: pointer; */

}
.sec-3-c-2-r2 .col-md-6 img, .sec-3-c-2-r1 .col-md-6 img{
    width: 110%;
    border-radius: 15px;
    box-shadow: 2px 4px 20px #0A203E,
    -2px 4px 20px #181E25,
    2px -4px 20px #020f22,
    -2px -4px 20px #181E25 ;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.sec-3-c-2-r2 .col-md-6 img:hover, .sec-3-c-2-r1 .col-md-6 img:hover{
    transform: scale(1.1);
    box-shadow: 2px 4px 20px #079398,
                -2px 4px 20px #104f97,
                2px -4px 20px #820978,
                -2px -4px 20px #5c9ae1 ;
}

.section-4-title{
    color: #1abc9c;
    font-size: 40px;
    text-align: center;
    font-family: var(--navFonts);
    padding: 40px 0px 30px 0px;
}
.s4r1c{
    width: 50%;
    height: 500px;
    /* border: 1px solid red; */
    overflow: hidden;
}
.sec4-r1-c1 img{
    width: 170%;
}
.chairman{
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    margin-top: 34px;
    color: #0A203E;
    font-family: var(--popins);
}
.event-title {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: var(--popins);
    text-align: center;
    text-shadow: 2px 2px 12px #C850C0;
    margin-bottom: 100px;
    padding-top: 40px;
}
.chairman img{
    width: 90px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #cad3dd;
    box-shadow: 1px 3px 8px rgb(10, 242, 184);
}
.chairman .name{
    color: #2ecc71;
    font-size: 13px;
}

.chairman .more-btn{
    color: white;
    background-image: linear-gradient(to right,red,purple);
    padding: 1px 20px;
    margin-top: 7px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.chairman .more-btn:hover{
     background-image: linear-gradient(to left,red,purple);
}
.sec4-sub-c1{
    width: 33%;
    /* border: 1px solid red; */
    height: 207px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 8px;
}
.sec4-sub-c1 img{
    width: 60px;
    height: 80px;
    box-shadow: 1px 3px 8px rgb(10, 242, 184);
    border-radius: 50%;
    margin-bottom: 10px;
}
.sec4-sub-c1 .name{
    font-size: 8.5px;
    color: #0A203E;
}
.sec4-sub-c1 .more-btn{
     color: white;
    background-image: linear-gradient(to right,red,purple);
    padding: 1px 20px;
    margin-top: 7px;
    border-radius: 10px;
    font-size: 7px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.sec4-sub-c1 .more-btn:hover{
     background-image: linear-gradient(to left,red,purple);
}
.wewewe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.section-05{
    width: 100%;
    height: 100vh;
    background-color: black;
}


/* start form body -2 */
/* start form body -2 */
/* start form body -2 */
.body-02{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa-circle-check{
    color: blue;
    font-size: 40px;
}
span.sel0{
    font-size: 40px;
    margin-left: 15px;
    background-image: linear-gradient(90deg,#86198F,#BE123C,#38BDF8,#312E81);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    letter-spacing: 2px;

}
.mini-box-body-2{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
}

.body-2-box-mini{
    width: 15%;
    height: 88px;
    /* border: 1px solid red; */
    margin: 14px;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: 2px 5px 100px #C850C0;
    transition: all 130ms ease-in-out;
}
.body-2-box-mini:hover{
    transform: scale(1.2);
    cursor: pointer;
}
span.year0{
    margin-left: 8px;
    background-image: linear-gradient(90deg,#86198F,#BE123C,#38BDF8,#f70858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    letter-spacing: 3px;
    
}